<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head><link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
<body>
    <h3>About the Program</h3>
    <p>This is a ML model that has been trained off of hundreds of people's health insurance prices and their respective demographics(such as age, sex, bmi, income, number of children, region, and whether or not they smoke). There are numberous advantages for using this program, including building an AI customized insurance quota based off of your unique characteristics. This program also allows users who may not be familiar with health insurance to see their potential, which will help the user make a more informed decision on how much they truly want to spend on a package. In addition to that, this program can also serve as an educational tool inside and outside of the classroom, allowing users to educate themselves on how a change in demographic can change your insurance rate. 
    <h3>Mission Statement</h3> 
    <p>As a newfound adult myself, I wanted to create a program that harnessed the vulnerability that individuals experience when they start trying to invest in their own health insurance plans. By using this AI technology, individuals all over the United States can have access to a software that can calculate their estimated cost of health to make this process much more efficient in finding the best 'bang for their buck'.
    <h5>Citations for this Project</h5>
    <p>To create this project, I used coding languages such as python, javascript, HTML, and CSS, as well as other useful programs like Bootstrap and Kaggle! The links for the programs are available within the code or on the next screen! </p>
    <form>
        <input type="radio" name="fancy" value="link" id="link" />		
        <label>Try it now!</label>
    </form>
    <a href="/index" class="button">Enter AI Predictor</a>
</body>
</html>